@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --text: #f3edfd;
--background: #080212;
--primary: #47159d;
--secondary: #0e041f;
--accent: #601dd3; */

/*
I prefer this one

--text: #050b04;
--background: #ebf6e9;
--primary: #224153;
--secondary: #dcb7e1;
--accent: #915b3b; */

/* .navbar {
    background: #915b3b;
} */

body, .navbar, #gradient {
    /* background-image: url("../assets/bg.webp"); */
    background: #ebf6e9;
    color: #050b04;
    /* primary: #47159d;
    secondary: #0e041f;
    accent: #601dd3; */
}

.card, .modal-header, .modal-content {
    background-color: #121020;
}

/* a,
a:hover,
a:focus {
    color: #b4ad63;
    text-decoration: underline;
} */

/* #gradient {
background: rgb(89, 80, 154);
    background: linear-gradient(180deg, rgba(89, 80, 154, 1) 0%, rgba(18, 16, 32, 1) 99%);
} */